################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Microservices/v17/.wsuo
/.vs/Microservices/v17/DocumentLayout.json
/.vs/VSWorkspaceState.json
/UserService/.vs/slnx.sqlite
/UserService/.vs/UserService/FileContentIndex/881a651d-ce75-4101-8ce5-e3c32af17853.vsidx
